.service-card {
    max-width: 375px;
    border: 1px solid var(--card-bd);
    background: var(--card-bg);
    border-radius: 20px;
    padding: 0 20px;
    transition: 0.5s ease border;
    cursor: pointer;
}

.service-card-a{
    text-decoration: none;
    color: inherit;
}

.service-card:hover {
    border: solid 1px var(--accent);
}

.service-card img {
    width: 185px;
    height: 185px;
}
.service-card-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card-info h1 {
    font-size: 28px;
    margin-bottom: 0;
}

.service-card-info p {
    color: var(--text-secondary);
    line-height: 1.6;
    font-size: 18px;
    margin-top: 5px;
}
