.stack{
    margin: 0 auto;
    max-width: 775px;
}

.stack-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-radius: 12px;
    border: 0.5px solid var(--accent);
    gap: 10px;
    padding: 1.5rem;
    max-width: 775px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .stack-grid {
        grid-template-columns: 1fr;
    }


}